
@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container about-us-page no-padding">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-8 col-md-8">
        <p class="header title-post left padding-bottom-base no-margin">Founder</p>
        <div class="ui link cards full-width padding-bottom-base">
            <div class="card">
                <div class="image">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/poststudy/duy-chu-avatar.jpg">
                </div>
                <div class="content">
                    <div class="header">Sỹ Duy</div>
                    <div class="meta">
                        <a>Freelance Developer</a>
                    </div>
                    <div class="description">
                        Anh ấy mong muốn tạo ra một vài công cụ hỗ trợ học tập cho tất cả mọi người
                    </div>
                </div>
                <div class="hide extra content">
                    <span class="right floated">
                        Joined in 2013
                    </span>
                    <span>
                        <i class="user icon"></i>
                        75 Friends
                    </span>
                </div>
            </div>
        </div>

        <p class="header title-post left padding-bottom-base no-margin">Mentor của Posts Study</p>
        <div class="ui link cards full-width">
            <div class="card">
                <div class="image">
                    <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t31.0-8/12474099_553369224832533_3516912041141939700_o.jpg?_nc_cat=101&_nc_oc=AQkWTeMbzRaxmynvC5aV4nTNVpoy1e18z4djQl5fystrnPmXYrFbbW2UQ8_4a8dJY_I&_nc_ht=scontent.fhan2-1.fna&oh=1a4172c58c65fd024b783290b83d97af&oe=5D365792">
                </div>
                <div class="content">
                    <div class="header">Lặng Lẽ</div>
                    <div class="meta">
                        <a>Freelance Developer</a>
                    </div>
                    <div class="description">
                        Anh ấy có thể làm những điều lớn lao trong thầm lặng.
                    </div>
                </div>
                <div class="hide extra content">
                    <span class="right floated">
                        Joined in 2013
                    </span>
                    <span>
                        <i class="user icon"></i>
                        75 Friends
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/images/avatar2/large/molly.png">
                </div>
                <div class="content">
                    <div class="header">Nguyễn Huyền Phương</div>
                    <div class="meta">
                        <span class="date">Project Manager at Niteco</span>
                    </div>
                    <div class="description">
                        Cô ấy luôn có những ý tưởng tuyệt vời.
                    </div>
                </div>
                <div class="hide extra content">
                    <span class="right floated">
                        Joined in 2011
                    </span>
                    <span>
                        <i class="user icon"></i>
                        35 Friends
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/images/avatar2/large/molly.png">
                </div>
                <div class="content">
                    <div class="header">Mầu Tiến Đoàn</div>
                    <div class="meta">
                        <span class="date">Solution Architect</span>
                    </div>
                    <div class="description">
                        Anh ấy có những giải pháp hệ thống thật tuyệt vời.
                    </div>
                </div>
                <div class="hide extra content">
                    <span class="right floated">
                        Joined in 2011
                    </span>
                    <span>
                        <i class="user icon"></i>
                        35 Friends
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/images/avatar2/large/elyse.png">
                </div>
                <div class="content">
                    <div class="header">Đặng Ngọc Dung</div>
                    <div class="meta">
                        <a>Interpreters</a>
                    </div>
                    <div class="description">
                        Cô ấy giỏi ngoại ngữ và trông rất giống người Hàn Quốc.
                    </div>
                </div>
                <div class="hide extra content">
                    <span class="right floated">
                        Joined in 2014
                    </span>
                    <span>
                        <i class="user icon"></i>
                        151 Friends
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/images/avatar2/large/elyse.png">
                </div>
                <div class="content">
                    <div class="header">Nguyễn Đắc Thanh</div>
                    <div class="meta">
                        <a>Tech Lead</a>
                    </div>
                    <div class="description">
                        Anh ấy làm frontend rất đỉnh.
                    </div>
                </div>
                <div class="hide extra content">
                    <span class="right floated">
                        Joined in 2014
                    </span>
                    <span>
                        <i class="user icon"></i>
                        151 Friends
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/images/avatar2/large/elyse.png">
                </div>
                <div class="content">
                    <div class="header">Nguyễn Quyết Thắng</div>
                    <div class="meta">
                        <a>Senior Developer</a>
                    </div>
                    <div class="description">
                        Anh ấy code rất siêu và hack coin rất giỏi.
                    </div>
                </div>
                <div class="hide extra content">
                    <span class="right floated">
                        Joined in 2014
                    </span>
                    <span>
                        <i class="user icon"></i>
                        151 Friends
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2"></div>
</div>

