@{
    ViewBag.Title = "";
    <script src="~/lib/tinymce/tinymce.js"></script>
    <script>
        var screeWidth = $(window).width();
        var screenHeight = $(window).height();
        var mToolbar = 'insertfile | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image';

        if (screeWidth <= 767) {
            mToolbar = 'styleselect | bullist numlist | link image';
        }
        //tinny mce init
        tinymce.init({
            selector: 'textarea',
            //language_url: '/Libs/TinnyMCE/language/vi_VN.js',
            theme: 'modern',
            menubar: false,
            statusbar: true,
            theme: 'modern',
            skin: "lightgray",
            min_height: 250,
            max_width: 720,
            //content_css: '/Content/myTinnyMCE.css',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code'
            ],
            toolbar: mToolbar,
            content_css: '//www.tinymce.com/css/codepen.min.css',
            menubar: false,

            //custom button
        });
    </script>
}

<div class="ask-form container index-page">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 no-padding">

        <!--posts type: simple question, require a tutorial, require a test-->
        <span class="header-text">Yêu cầu trả lời</span>
        <div class="ui input posts-type full-width">
            <select class="ui dropdown right">
                @*<option value="">Chọn loại bài</option>*@
                <option value="2">câu hỏi đơn giản</option>
                <option value="6">yêu cầu bài hướng dẫn</option>
                <!-- <option value="3">yêu cầu một bài thi</option> -->
            </select>
        </div>

        <!--search before make a questions-->
        <!--make a question-->
        <span class="header-text">Tiêu đề<i class="question icon"></i></span>
        <div class="ui input full-width">
            <input id="title" class="title title-question" type="text" placeholder="Câu hỏi ngắn gọn mà bao hàm được nhiều ý nhất" autofocus>
        </div>

        <!--content-->
        <span class="header-text">Mô tả nội dung dẫn đến câu hỏi</span>
        <div id="tinnyMCE" class="padding-top-base" style="margin-top:30px; margin-bottom:15px;">
            <textarea></textarea>
        </div>

        <!--tags-->
        <div class="ui tag fluid multiple search selection dropdown full-width no-padding visible">
            @{
                Html.RenderPartial("~/Views/Shared/_Tag.cshtml");
            }
        </div>

        <!--submit-->
        <div class="action-posts container full-width">
            <!--check send update via email-->
            <div class="ui checkbox hidden">
                <input type="checkbox" name="example">
                <label>Gửi cập nhật cho tôi qua email</label>
            </div>


            <div class="tiny button-post ui green button padding-base right">
                Đăng câu hỏi
            </div>

            <div class="tiny button-cancel ui button padding-base right">
                Hủy bỏ
            </div>

        </div>

    </div>

    <div class="col-lg-2 col-md-2 right-nav">
        <!--manager your questions-->
        <div class="container padding-base">
            <a href="/posts/manager?t=2&u=@ViewBag.UserId"
               class="tiny button-manager ui green button padding-base right">
                Quản lý câu hỏi
            </a>
        </div>

        <!--Questions that may already have your answer-->
        <div class="container padding-base">
            <span class="header-text"><i class="question icon"></i>Một số câu hỏi tương tự</span>
            <span class="" style="font-style:italic">bạn hãy xem xét để tránh đặt trùng lặp câu mà người khác đã hỏi</span>
            <div class="ui relaxed divided list already-questions" style="max-height:50vh;">

            </div>
        </div>
        <!--How to make a question-->
        <div class="container guide-make-question padding-base">
            <span class="header-text"><i class="idea icon"></i>Nên trình bày một câu hỏi như thế nào?</span>
            <p>- Tùy thuộc vào vấn đề mà bạn gặp phải, trước tiên hãy diễn tả vấn đề của bạn. Sau đó bạn hãy suy nghĩ xem vấn đề đó có thể đặt câu hỏi như nào:
            <p>1. Nội dung vấn đề của bạn là quyết định có hay không, bạn chỉ cần hỏi là nên có hay nên không</p>
            <p>2. Lựa chọn nhiều hơn 2 đáp án thì bạn hay trình bày các giả thiết lựa chọn đó rồi đặt câu hỏi nên chọn A, B, hay C</p>
            <p>3. Nếu là một điều hoàn toán mới mà bạn chưa từng biết và hình dung được thì bạn hãy hỏi nên làm gì, làm thế nào</p>
            <p>- Cuối cùng câu hỏi cũng chính là tiêu đề mà bạn nên đặt để mọi người dễ hiểu nhất. Bạn cũng đừng quên gắn các thẻ chủ đề liên quan đến câu hỏi trước khi đăng câu hỏi nhé!</p>
        </div>
    </div>
</div>

<script src="~/js/ask.js"></script>

<script>

    //ready function
    $(function () {
        //set ? for title
        var inputTitle = $('.ask-form .title-question');
        inputTitle.val('?');
        inputTitle.first().focus();
        setCaretToPos(document.getElementById("title"), 0);

        //init action from ask.js
        $(this).postsAsk({
            //postQuestion: function (dataJSON, success, error) {
            //    success(dataJSON);
            //},
            cancel: function (success, error) {
                success();
            },

        });
    });

    function setSelectionRange(input, selectionStart, selectionEnd) {
        if (input.setSelectionRange) {
            input.focus();
            input.setSelectionRange(selectionStart, selectionEnd);
        }
        else if (input.createTextRange) {
            var range = input.createTextRange();
            range.collapse(true);
            range.moveEnd('character', selectionEnd);
            range.moveStart('character', selectionStart);
            range.select();
        }
    }

    function setCaretToPos(input, pos) {
        setSelectionRange(input, pos, pos);
    }



</script>