
@{
    ViewBag.Title = "Viết bài";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    @*<link href="~/lib/dragula/dist/dragula.css" rel="stylesheet" />*@

    <script src="~/lib/tinymce/tinymce.js"></script>
    @*<script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>*@
    <script src="~/lib/Split.js/split.js"></script>
    <script src="~/lib/dragula/dist/dragula.js"></script>

    <style type="text/css">
        /*body { overflow: hidden; }*/
        .body-content .body { margin-left: 0px; }
        .menu.left{display: none}
        .menu.left { display: none }

        #WrapContent { overflow-y: hidden}
        /*.posts-manager .list-post { display: none }*/
        .body-content { padding-left: 0px !important; padding-right: 0px !important; padding-top: 45px; }
        footer {display: none}
    </style>

<script src="~/js/tinnymce_setting.js"></script>

@model IEnumerable<Posts>
@using QAP4.Models
<input name="image" type="file" id="upload" class="hidden" onchange="">
<div class="posts-manager">
    <div class="container guide hide">
        <p class="header-text black">Hướng dẫn: <span class="caption" style="color:green">Bạn hãy chọn lựa viết bài đơn hoặc biên tập và chú ý đến dòng dướng dẫn này</span></p>
    </div>
    <div class="container no-padding">
        <!--nav menu-->
        <div class="col-lg-1 col-xs-1 col-md-1 menu-nav hide">
            @*<div class="head"><i class="ui home pointer big icon"></i></div>*@
            <div class="body">
                <i id="NewPosts" class="ui add green circular icon pointer large"></i>
                <i id="SreachPosts" class="ui green search circular icon pointer big"></i>
                <i id="Tags" class="ui tag circular green icon pointer large"></i>
                <i id="Books" class="ui book circular green icon pointer large"></i>
            </div>
            <div class="bottom"><i class="help circle outline icon pointer big"></i></div>
        </div>

        <!--ist posts-->
        <div class="list-post posts-list left fixed" style="padding-top:42px!important">
            <div class="container head no-padding padding-top-base">
                <div class="ui item transparent icon input active full-width border-bottom">
                    <i class="ui icon search "></i>
                    <input class="search-field" autocomplete="off" placeholder="Tìm kiếm trong danh sách" type="text">
                </div>

                <div class="posts-type full-width padding-top-base">
                    <select class="ui dropdown">
                        <option value="1">Bài viết đơn</option>
                        <option value="2">Câu hỏi</option>
                        <option value="4">Bài thi tự luận</option>
                        <option value="5">Bài thi trắc nghiệm</option>
                        <option value="6">Bài hướng dẫn</option>
                        <option value="7">Sổ tay</option>
                    </select>
                    <button class="hide choose-items-checked ui left green floated tiny button">Tạo bài hướng dẫn</button>
                </div>
            </div>

            <div id="left-copy" class="list ui relaxed divided full-width full-height">

                @*@foreach (var posts in Model)
                    {
                        <div data-id="@posts.Id" class="item padding-base">
                            <div class="content">
                                <a class="header">@posts.Title</a>
                                <div class="description">@posts.HeadContent</div>
                            </div>
                        </div>
                    }*@
            </div>
        </div>

        <!-- //POSTS = 1
            //QUESTION = 2
            //ANSWER = 3
            //EXAMINATION = 4
            //TEST = 5
            //TUTORIAL = 6
            //NOTEBOOK = 7-->
        <!--editors-->
        <div id="Editor" class="editor">
            <div class="ui tabular menu no-padding no-margin">
                <div class="write item tab tab-1 active" data-tab="tab-write">
                    <div style="padding-right:20px; ">Viết </div>
                    <select class="ui dropdown right">
                        @*<option value="">Chọn loại bài</option>*@
                        <option value="1">bài đơn</option>
                        <option value="2">câu hỏi</option>

                    </select>
                </div>

                <div class="compilation item tab tab-2" data-tab="tab-compilation">
                    <div style="padding-right:20px; ">Soạn </div>
                    <select class="ui dropdown right">
                        @*<option value="">Chọn loại bài</option>*@
                        <option value="6">bài hướng dẫn</option>
                        <option value="4">bài thi tự luận</option>
                        <option value="5">bài thi trắc nghiệm</option>
                    </select>
                </div>
            </div>




            <div class="container actions full-width no-padding ">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-padding">
                    <div class="field ui input  full-width no-padding">
                        @{
                            Html.RenderPartial("~/Views/Shared/_Tag.cshtml");
                        }
                    </div>
                </div>
                <div class="action-posts col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <p class="ui green tiny button post right">Đăng bài</p>
                    <p class="ui green tiny button answer right" style="display:none">Thêm đáp án</p>
                    <i class="history pointer icon right hidden"></i>
                    <i class="remove-trash trash pointer icon right"></i>
                    <i class="publish-or-private lock icon pointer right"></i>
                    <i class="create-new add pointer icon right"></i>
                </div>
            </div>

            <!--tab 1-->
            <div class="ui tab tab-1 active" data-tab="tab-write">

                <!-- write posts editor-->
                <div id="WrapContent" class="split split-vertical content">
                    <div id="tinnyMCE">
                        <textarea class="main-editor"></textarea>
                    </div>
                </div>

                <div id="WrapDescription" class="split split-vertical content left full-width">
                    <div class="wrap-description" style='width: 100%; border-top: 1px solid #ddd;'>
                        <span class="header-text"><i class='icon pencil'></i>Miêu tả cho bài viết</span>
                        <div id='DescriptionPost'>
                            <textarea class='full-width' placeholder='Viết miêu tả' spellcheck="false"></textarea>
                        </div>

                        <div id='CoverImg' class="">
                            <input type="file" onchange="uploadImg()" style="display: none" />
                            <div class='btn-load-cover-images'>
                                <span class="header-text pointer">
                                    <i class="icon fa-picture-o"></i>Nhấn để duyệt ảnh từ bài viết, chọn 1 ảnh để làm ảnh bìa</span>
                            </div>
                            <div id="coverImgs" class="col-xs-12">
                                <!-- <img src="" height="200" alt="ảnh bìa bài viết" /> -->
                            </div>
                        </div>

                        <div class="hide">
                            <span class="caption"><i class='fa fa-pencil'></i>Lời bình và trích dẫn cho bài viết</span>
                            <div id='CommnetQuotes'>

                                <div class='item' id="">
                                    <textarea class='col-xs-10' placeholder='Viết lời bình hoặc trích dẫn'></textarea>
                                    <div class='col-xs-12'>
                                        <input class='col-xs-10 writer' type='text' placeholder='người bình' />
                                        <div class='col-xs-2 action' style='display: none'>
                                            <i class='fa fa-star-o mark-most'></i>
                                            <i class='fa fa-minus-circle remove'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span id="AddCommentQuotes" class="caption"><i class="fa fa-plus-circle"></i>Thêm lời bình</span>
                        </div>
                    </div>


                    <!--post preview-->

                    <div class="container post-preview hide">
                        <span class="header-text"><i class="icon list layout"></i>Xem trước</span>
                        <span class="head grey">Câu hỏi</span>
                        <div class="container question"></div>
                        <div class="container answers">
                            <span class="head caption grey">Đáp án đúng</span>
                            <div class="container right-answer"></div>
                            <span class="head caption grey">Các đáp án sai</span>
                            <div class="container wrong-answers"></div>
                        </div>

                    </div>

                </div>
                <!--end write posts editor-->
            </div>

            <!--tab 2-->
            <div class="ui tab tab-1" data-tab="tab-compilation">
                <!--manager editor-->
                <div class="manager-editor">
                    <div class="item">
                        <div class="container head tile-post no-padding">
                            <input class="container full-width input-title" placeholder="Tiêu đề cho nhóm bài viết">
                        </div>
                        <div id="right-copy" class="area-push-posts">
                            <div class="container"><p class="caption grey">Để biên tập nội dung, bạn hãy kéo thả bài viết từ bên danh sách các bài viết vào đây.</p></div>
                        </div>
                    </div>
                </div>
                <!--end manager editor-->
            </div>

        </div>

        <!--end editor-->
        <!--nav bottom menu-->
        <div class="container menu-bottom fixed bottom hide">
            <div class="categories full-width left padding-bottom-base">
                <a href="/posts/manager?pg=0&or_d=cr_d&po_t=1&u_i=@ViewBag.UserId"
                   class="ui tiny button green">Bài viết</a>
                <a href="/posts/manager?pg=0&or_d=cr_d&po_t=2&u_i=@ViewBag.UserId"
                   class="ui tiny button green">Câu hỏi</a>
                <a href="/posts/manager?pg=0&or_d=cr_d&po_t=2&u_i=@ViewBag.UserId"
                   class="ui tiny button green">Bài học</a>
            </div>
        </div>

        <div id="contentTemp" class="hide">


        </div>


    </div>
</div>

<script src="~/js/posts_manager.js"></script>

<script>
    $(function () {
        //init action from post.js
        $(this).posts({
            newPosts: function (success, error) {
                success();
            },
            addPostAnswer: function (success, error) {
                success();
            },
            postPosts: function (success, error) {
                success();
            },
            deletePosts: function (success, error) {
                success();
            },
            clickItemInListPosts: function (success, error) {
                success();
            },
            showManager: function (success, error) {
                success();
            },
            setSelectedOption: function (success, error) {
                success();
            }
        });
    });


    // style auto height when full text text area
    function h(e) {
        $(e).css({ 'height': 'auto', 'overflow-y': 'hidden' }).height(e.scrollHeight);
    }
    $('#WrapDescription textarea').each(function () {
        h(this);
    }).on('input', function () {
        h(this);
    });



    //split vertical
    Split(['#WrapContent', '#WrapDescription'], {
        direction: 'vertical',
        sizes: [80, 20],
        //minSize: [150, 40],
        gutterSize: 25,
        cursor: 'ns-resize'
    });




    //drag and drop with ragula.js
    var left = 'left-copy';
    var right = 'right-copy';
    dragula([document.getElementById(left), document.getElementById(right)], {
        copy: function (el, source) {
            return source === document.getElementById(left)
        },
        accepts: function (el, target) {
            return target !== document.getElementById(left)
        },
        removeOnSpill: true
    });


</script>
